<% if @note %>
<form action = "/<%= @note.id %>" method = "post" id = "edit">
 <input type = "hidden" name = "_method" value = "put">    #w name "_method" konieczny do obslugi HTTP DELETE i PUT, ponieważ nie wszystkie przegladarki obsługuja
 <textarea name = "content"><%= @note.content %></textarea>
 <input type = "checkbox" name = "complete"><%= "checked" if @note.complete %>
 <input type = "Submit">
</form>
<p><a href= "<%= @note.id %>/delete">Delete</a></p>
<% else %>
Not found
<% end %>